<header class="container-fluid ">
    <img src="../assets/CSC_Logo.png" alt="CSC"> Patient #{{patientNo}}
</header>

<main class="row">
    <section class="col-md-10 col-md-offset-1">
        <a [routerLink]="['/list']" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back To List</a>
        
        <section class="list-group-item" *ngFor="let patient of passed">
            <h3 class="list-group-item-heading"><span class="glyphicon glyphicon-user"></span> {{patient.firstName}} {{patient.lastName}} </h3>

              <span class="glyphicon glyphicon-calendar"></span>{{patient.dateOfBirth | date : 'dd/MM/y'}} | {{patient.gender}} 
       
             <section class="list-group-item"> 
               <div class="list-group-item-heading">
                    <span class="itemlabel"><span class="glyphicon glyphicon-plus"></span> Medication</span>
                </div>
               {{patient.medicationName}} 
            </section>
            
             <section class="list-group-item"> 
               <div class="list-group-item-heading">
                    <span class="itemlabel"><span class="glyphicon glyphicon-baby-formula"></span> Dosage</span>
                </div>
               {{patient.dosage}}   
            </section>

            <section class="list-group-item"> 
                <div class="list-group-item-heading">
                    <span class="itemlabel"><span class="glyphicon glyphicon-hourglass"></span> Next medication</span>
                </div>    
                <span class="glyphicon glyphicon-calendar"></span> {{patient.time | date: 'dd/MM/y | '}}<span class="glyphicon glyphicon-time"></span>{{patient.time | date: ' HH:mm'}} 
            </section>
            
            <section class="list-group-item"> 
                <div class="list-group-item-heading">
                    <span class="itemlabel"><span class="glyphicon glyphicon-info-sign"></span> Remark</span>   
                </div>
                {{patient.remark}}
            </section>
        </section>
        
    </section>
</main>