<header class="container-fluid ">
    <img src="../assets/CSC_Logo.png" alt="CSC">
    Start Page
</header>

<main class="row">
    <section class="col-md-10 col-md-offset-1">

        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group">
                <label for="institutions"> Institutions: </label>
                <select name="selectedInstitution" [(ngModel)]="vm.iCode" class="form-control">
            <option value="">Select an institution</option>
            <option *ngFor="let institution of institutions" [value]="institution.code"> {{institution.name}} </option>
            </select>
            </div>
            <div class="form-group">
                <label for="departments"> Departments: </label>
                <select name="selectedDepartment" [(ngModel)]="vm.dCode" [disabled]="!(vm.iCode)" class="form-control">
            <option value="">Select an Department</option>
            <option *ngFor="let department of departments" [value]="department.code"> {{department.name}} </option>
            </select>
            </div>

            <button type="submit" [disabled]="!(vm.iCode && vm.dCode)" class="btn btn-default">
            Find Patients <span class="glyphicon glyphicon-search"></span> 
        </button>
        </form>

        <section class="alert alert-danger" [hidden]="vm.iCode && vm.dCode">
            <span class="glyphicon glyphicon-info-sign"></span> Select your institute and department
        </section>

        <section class="patient-list">
            <a *ngFor="let patient of passed" [routerLink]="['/patient', patient.patientNumber ]" class="list-group-item col-md-6 clearfix">

                <div class="pull left">
                    
                    <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-user"></span> {{patient.firstName}} {{patient.lastName}} </h4>
                    
                    <span class="glyphicon glyphicon-calendar"></span> {{patient.dateOfBirth | date : 'dd/MM/y'}} | {{patient.gender}}
                    <br /><span class="glyphicon glyphicon-asterisk"> {{patient.patientNumber}}</span> 
                    
                </div>
            </a>
        </section>
    </section>
</main>