/* You can add global styles to this file, and also import other style files */
body{
    margin: 0 ;
    padding: 0 0 30px 0;
    font-family: 'Roboto';
    color: #313945;
}
header {
    padding: 10px 0;    
    background: -webkit-linear-gradient( #313945, #313440); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( #313945, #313440); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #313945, #313440); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #313945, #313440); 
    color: #fff;
    font-size: 250%;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    }

header img{height: 40px;

}

section {
    margin: 20px 0 0 0; 
    }

.itemlabel{
    font-size: 110%;
    font-weight: bold;
}
